@import url('https://fonts.googleapis.com/css?family=Raleway');
body {
    background-color: #DDFCFF;
    font-family: 'Supermercado One', cursive;
    text-align: center;
}

.header {
	text-align: center;
	background-color: #00A4B2;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #00A4B2;
   color: black;
   text-align: center;
}

#label {
	visibility: hidden;
	text-align: center;
	margin-bottom: 0;
	color: #B28565;
}

.assignment_list {
	width: 10%;
	margin-right: auto;
	margin-left: auto;
}

li {
	font-family: 'Raleway', sans-serif;
	text-align: left;
}

h1{
	font-size: 300%;
}

h3 {
	font-size: 200%;
}
.pagination {
    display: inline-block;
}

.lesson_header {
	margin-left: auto;
	margin-right: auto; 
	width: 50%;
}

.title {
	display: inline-block;
	margin-left: 20px;
	margin-right: 20px;
}

.pagination a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    ;
    transition: background-color .3s;
    display: inline-block;
    background-color: orange;
    border-radius: 12px;
}
.pagination a:hover {
    background-color: white;
    color: orange;
}

.left {
	float: left;
}
.right {
	float: right;
}
/* Fixed sidenav, full height */
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #00A4B2;
    overflow-x: hidden;
    padding-top: 20px;
}
/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}


/* On mouse-over */
.sidenav a:hover {
    color: white;
}

.dropdown-btn:hover {
	color: white;
}

.active:hover {
	color: white;
}

/* Main content */
.main {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
    background-color: orange;
    color: white;
}
.active_at_start {
    color: orange;
}

.active_at_start.active{
	color: white;
}
.active_at_start:hover {
	color: white;
}

a.active_child_at_start, a.active_child_at_start:hover {
	color: orange;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
    display: none;
    background-color: #C4FAFF;
    padding-left: 8px;
}


/* Optional: Style the caret down icon */
.caret {
    float: right;
    padding-right: 8px;
}

p {
	font-family: 'Raleway', sans-serif;
	text-align: left;
}
button {
    font-family : inherit;
    font-size: 1em;
}

.changableText {
    text-align: center;
    color: red;
}

#resultsTable {
    border-collapse: collapse;
    width: 100%;
}

td.results, th.results {
    border: 1px solid orange;
    text-align: left;
    padding: 8px;
}

.poster {
    width: 35%;
}